* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background: #022c22;
    --text-color: #a7f3d0;
    --nav-background: #059669;
}

body {
    background-color: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav {
    background-color: var(--nav-background);
    width: fit-content;
    padding: 24px;
    border-radius: 24px;
}

ul,li {
    list-style: none;
}